<div class="container">
    <div [ngClass]="{'d-none d-md-block': buttonDisabler}">
        <div class="row justify-content-md-center">
            <div class="text-center col-12 logo1">
                <span class="logo">Logo</span>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6 col-md-6 leftClass">
                <span><h1>{{cityName}}</h1></span>
            </div>
            <div class="col-6 col-md-6 rightClass">
                <span><h1><img src={{icon}}> {{tempC}} &#176;</h1></span>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6 col-md-6 leftClass">
                <span><h3>{{localtime}}</h3></span>
            </div>
            <div class="col-6 col-md-6 rightClass">
                <span><h3>{{text}}</h3></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6 col-md-6 d-md-block rightClass topMrg">
            <button class="btn btn-success button1" (click)="getInfo()" [disabled]="!buttonDisabler">Today</button>
        </div>
        <div class="col-6 col-md-6 leftClass topMrg">
            <button class="btn btn-success button2" (click)="getForecast(cityName)" [disabled]="buttonDisabler">48 Hourws Forecast</button>
        </div>
    </div>
    <div [hidden]="isShown" class="row justify-content-md-center">
        <div class="col-6 col-md-6 info leftClass">
            <p>Feels like: </p>
            <p>Wind: km/h</p>
            <p>Humidity: </p>
        </div>
        <div class="col-6 col-md-6 info rightClass">
            <p>{{tempFeel}} &#176;</p>
            <p>{{wind}} km/h</p>
            <p>{{humidity}} %</p>
        </div>
    </div>
    <div *ngFor="let day of forecastCity.forecast.forecastday">
        <div [ngClass]="{'d-none': !buttonDisabler}" class=" d-md-block row justify-content-md-center" *ngIf="isShown===true" [hidden]="false">
            <div class="row justify-content-md-center">
                <div class="col-6 col-md-6 leftClass info2 hourPad botMrg">
                    <h5>{{displaytime()}}</h5>
                </div>
                <div class="col-6 col-md-6 rightClass info2 botMrg">
                    <h5><img src={{day.day.condition.icon}}>{{day.day.maxtemp_c}}&#176;/{{day.day.mintemp_c}}&#176;</h5>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-6 col-md-6 leftClass info2">
                    <h6>{{day.date}}</h6>
                </div>
                <div class="col-6 col-md-6 rightClass info2">
                    <h6>{{day.day.condition.text}}</h6>
                </div>
            </div>
            <hr class="mrg" />
        </div>
    </div>
</div>