<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center logo1">
            <span class="logo">Logo</span>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-12">
            <p class="paragraph"><label for="inputValue"> Name of a city and press search:</label></p>
            <input class="input" style="width: 100%; margin-bottom: 20px;" type="text" #city id="inputValue" (keypress)="onSubmit()">
        </div>
    </div>
    <div class="row justify-content-md-center" *ngFor="let citys of search">
        <div class="col-6 col-md-6 text-center">
            <a routerLink="" (click)="searchCity(citys.searchCity)">{{citys.searchCity}}</a>
        </div>
        <div class="col-6 col-md-6 text-center">
            <a routerLink="" (click)="searchCity(citys.searchCity)">{{citys.dateTime}}</a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 text-center">
            <button style="margin-bottom: 20px;" type="button" id="searchBtn" [disabled]="inputValue" class="btn btn-primary btn-large, button" (click)="searchCity(city.value)">SEARCH</button>
        </div>
    </div>
</div>